.Footer {
    background-color: #222;
    z-index: 999;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    margin-top: auto;
    text-align: center;
    color: white;
    padding: 0.5em;
    height: 40px;
    border: solid;
    border-color: rgb(216, 218, 219);
}

.Footer ul{
   display: flex;
   list-style: none;
}

.Footer li{
    margin: 0 1em;
    
}

.Footer li:hover{
    color: #ffbb44;
}
.social_list svg {
    size: 2rem;
    cursor: pointer;
}
.Footer p{
    font-size: 1.3rem;
    margin-left: 20rem;
}
.Footer p span{
    font-size: 1.3rem;
    font-weight: bold;
    color:#ffbb44;
}

@media screen and (max-width: 1000px){
    /* max-width = telas menores que 1000px*/
  .Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  }

  .FooterWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .Footer p {
    margin: auto;
    font-size: .8rem;
  }

  .Footer p span{
    font-size: .8rem;
    font-weight: bold;
    color:#ffbb44;
}
  }