
.navbar{
    background-color: #222;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.list{
    display: flex;
    margin-right: 10px;
    margin-left: 5px;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
}

.img{
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
}

.item{
    margin-right: 1em;
    font-size: 1.2em;
   
}

.item a{
    color: #fff;
    text-decoration: none;
}

.item a:hover{
    color: #ffbb44;
}