<header>
   
    <nav>
        
        <ul class="btn-group dropdown-toggle dropdown-toggle-split dropdown-menu">
            
            <li  class="btn-group dropdown-item">
                 <a class="nav-link" href="/">Home</a>
            </li>
            
            <li  class="btn-group dropdown-item">
                 <a class="nav-link"href="/sobre">Sobre</a> 
            </li>
        </ul>
    </nav>
    <p>Página: <%= typeof pagina != 'undefined' ? pagina: 'home' %></p> <!-- passando objeto pelo ejs -->
</header>