.conteudo {
    display: flexbox;
    background-color: rgb(216, 218, 219);
    margin: 0;
    height: 90vh;
}
.conteudo a {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.conteudo a span {
    font-size: 1.5em;
    color: #222;
    padding: 0 0.2em;
   
}


