.conteudo {
    display: flexbox;
    background-color: rgb(216, 218, 219);
    width: 100%;
    height: 100vh;
    margin: 0;
    
}
.mail {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.link {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.fone {
    display: flex;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}