.home_container {
    background-color: rgb(216, 218, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em;
}

.home_container img {
    width: 200px;
    margin: 2em 0;
    border-radius: 25%;
    flex-shrink: 0;
}

.image_item {
    position: relative;
}

.image_item {
    display: flex;
    align-items: center;
}

.image_item img {
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}

.image_item span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    color: #222;
}

.home_container li {
    list-style: none;
    margin-right: 20em;
}

.home_container ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home_container h1{ 
    size: 2.5em;
    margin-bottom: .5em;
    align-items: center;
}

.home_container h1 span {
    color: #ffbb44;
    padding: 0 0.2em;
    background-color: #222;
    border-radius: 15%;
}

.home_container p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
    border: #222;
    border-radius: 15px;
    background-color: #222;
    color: aliceblue;
    padding: 0 2em;
}

.home_container div{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    width: 200px;
    border-radius: 15px;
    background-color:#222;
    padding: 5px;
    
}


