.home_container {
    background-color: rgb(216, 218, 219);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_container img {
    width: 350px;
    margin: 2em 0;
    border-radius: 100%;
    
}

.home_container h1{ 
    size: 2.5em;
    margin-bottom: .5em;
}

.home_container h1 span {
    color: #ffbb44;
    padding: 0 0.2em;
    background-color: #222;
}

