.conteudo {
    background-color: rgb(216, 218, 219);
    display: grid;
    margin-top: 80px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4em;
    min-height: 100vh;
}
.conteudo a {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}

.conteudo a span {
    font-size: 2rem;
    color: #222;
    padding: 0 0.2em;
}

.conteudo img {
  border-radius: 100%;
  width: 28rem;
  height: 25rem;
  box-shadow:  19px 19px 38px #5a5a5a,
  -19px -19px 38px #ffffff;
}

.contactsContainer {
  display: flex;
}

.links {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  flex: 1;
  display: flex;
  margin-top: 2rem;
  margin-left: 25rem;
  opacity: 0.4;
}


@media screen and (max-width: 1000px){
    /* max-width = telas menores que 1000px*/
  .conteudo {
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    padding: 2em;
  }

  .conteudo a {
    margin-bottom: 10px;
  }

  .conteudo a span {
    font-size: 1.2em;
  }

  .contactsContainer {
    display: flex;
    flex-direction: column;
  }
  
  .links {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .imageContainer {
    flex: 1;
    opacity: 0.4;
    order: 2;
    position: absolute;
    top: 50rem;
    left: -23rem;
  
  }

  .conteudo img {
    border-radius: 100%;
    width: 20rem;
    height: 15rem;
  }
}

