.home_container {
    background-color: rgb(216, 218, 219);
    width: auto;
    min-height: 100vh; 
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 4rem;
}

.solucao{
    width: 120vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    border: #222;
    border-radius: 10px;
    background-color: #222;
    color: aliceblue;
    padding: 0 2em; 
}

.live {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #fa3232;
    animation: pulse 1500ms infinite;
}

@keyframes pulse {
    0% {
        box-shadow: #f33232;
    }
    75% {
        box-shadow: #e92323 00 0 16px;
    }
}

.home_container img {
    width: 150px;
    margin: 2em 0;
    border-radius: 25%; 
    flex-shrink: 0;
    box-shadow:  19px 19px 38px #5a5a5a,
             -19px -19px 38px #ffffff;
} 

.image_item {
    position: relative;
}

.image_item {
    display: flex;
    align-items: center;
}

.image_item img {
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}

.image_item span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    color: #222;
    
}

.home_container li {
    list-style: none;
    margin-right: 20em;
}

.home_container ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home_container h1{
    size: 2.5em;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.home_container h1 span {
    color: #ffbb44;
    font-size: 1.7rem;
    padding: 0 0.2em;
    background-color: #222;
    border-radius: 10px;
}




@media screen and (max-width: 1000px){
    /* max-width = telas menores que 1000px*/
  .home_container { 
    margin: auto;    
    width: 100%;
    max-width: 1000px;
    min-height: 100vh;
    
  }

  .home_container h1 {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    color: black;
    align-items: center;
}
.home_container h1 span {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-right: 30px;
    background-color:  rgb(216, 218, 219);
    color: #aa6c08;
}

.solucao {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    width: auto;
    border: #222;
    border-radius: 15px;
    background-color: #222;
    color: aliceblue;
    padding: 0 1em;
}

.home_container img {
    width: 65px;
    margin: 1em 1em;
    border-radius: 25%;
    flex-shrink: 0;
} 

.image_item span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1rem;
    color: #222;
}

.image_item img {
    margin-right: 20px; /* Espaçamento entre a imagem e o texto */
    margin-bottom: 30px;
    margin-left: 1px;
}

.home_container ul {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: normal;
}

}


