.conteudo {
    background-color: rgb(216, 218, 219);
    margin: 0 auto;
    align-items: center;
    display: flex;
    min-height: 100vh;
    box-shadow:  19px 19px 38px #5a5a5a,
    -19px -19px 38px #ffffff;
}

.titulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 40px;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.cards img {
    box-shadow:  19px 19px 38px #5a5a5a,
    -19px -19px 38px #ffffff;
}

.titulo p {
    margin-top: 8rem;
    color: rgba(62, 61, 61, 0.75);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.1rem;
    text-align: center;
    border-right: 2px solid rgba(62, 61, 61, 0.75);
    white-space: nowrap;
    overflow: hidden;
}

.typingAnimation {
    animation: blinkCursor 500ms steps(40) infinite normal, 
    typing 4s steps(40) 1s normal both;
}

/* Animação do texto */
@keyframes typing{
    from {
        width: 0;
    }
    to {
        width: 46rem;
    }
}

/* Animação do cursor */
@keyframes blinkCursor {
    from {
        border-right-color: rgba(62, 61, 61, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 10rem;
    justify-content: center;
}

@media screen and (max-width: 1000px){
    /* max-width = telas menores que 1000px*/
    .conteudo {
        background-color: rgb(216, 218, 219);
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        min-height: 100vh;
    }
    
    .titulo p {
        margin-top: 8rem;
        margin-left: 8rem;
        color: rgba(62, 61, 61, 0.75);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1rem;
        text-align: center;
        border-right: 2px solid rgba(62, 61, 61, 0.75);
        white-space: nowrap;
        overflow: hidden;
    }
    
    .typingAnimation {
        animation: blinkCursor 500ms steps(40) infinite normal, 
        typing 4s steps(40) 1s normal both;
    }
    
    /* Animação do texto */
    @keyframes typing{
        from {
            width: 0;
        }
        to {
            width: 25rem;
        }
    }
    
    /* Animação do cursor */
    @keyframes blinkCursor {
        from {
            border-right-color: rgba(62, 61, 61, 0.75);
        }
        to {
            border-right-color: transparent;
        }
    }
}