.conteudo {
   background-color: rgb(216, 218, 219);
   margin: 0 auto;
   margin-left: 50px;
   margin-top: 80px;
   height: 100vh;
}

.conteudo img {
   width: 200px;
   margin: 2em 0;
   border-radius: 25%;
   flex-shrink: 0;
} 

.image_item {
   display: flex;
   align-items: center;
}

.image_item img {
   margin-right: 20px; /* Espaçamento entre a imagem e o texto */
}

.image_item span {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 1.5em;
   color: #222;
   width: 500px;
}

.quebra_linha {
   white-space: pre-line;
 }

.conteudo h1 {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 1em;
   width: 100px;
   justify-content: center;
   margin-top: 100px;
   align-items: center;
   border: #222;
   border-radius: 15px;
   background-color: #222;
   color: aliceblue;
   padding: 0 2em;
}