.Card {
    border-radius:70%;
    display: flexbox;
    font-size: 0.5rem;
    color: aliceblue;
    background-image: url("./imgs/alltecvideo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    width: 130px;
    height: 130px;
}