.card-img{
    border-radius: 100%;
    width: 90px;
    height: 100px;
}

.card-todo{
    border-radius: 100%;
    display: inline-block;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    background-color: #282c34;
    width: 60vh;
    height: 60vh;
}