body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(216, 218, 219);
}

html, 
body, 
#root {
  margin: auto;
  min-width: 300px;
  max-width: 2500px;
  height: 100%;
}

#root {
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (max-width: 1000px) {
  body {
    box-sizing: content-box;
    width: auto;
  }
}

