body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(216, 218, 219);
}

html, 
body, 
#root {
  background-color: rgb(216, 218, 219);
  height: 100%;
}
