<!DOCTYPE html>

<%- include ('../partials/head'); %>

<body class="container">
    <%- include ('../partials/header', {pagina: 'sobre'}); %>

    <main>
        <div class="btn-group">
            <h1>Sobre mim!</h1>
        </div>
        <div class = "btn-group">
            <p>Olá, sou Anderson Moreno Mattar, desenvolvedor web junior!</p>
        </div>
    </main>

    <%- include ('../partials/footer'); %>
</body>

</html>